.glyphicon-refresh-animate {
    -webkit-animation: -webkit-glyphicon-refresh-animate .7s infinite linear;
           -animation: glyphicon-refresh-animate .7s infinite linear;
}

@-webkit-keyframes -webkit-glyphicon-refresh-animate {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes glyphicon-refresh-animate {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-right .btn {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-pills > li > a {
    border-radius: 0;
}

.nav-pills > li > a:focus {
    background-color: transparent;
}

.nav-pills > li > a:hover {
    padding-left: 14px;
    color: #337ab7;
    background-color: transparent;
    border-left: 1px solid #337ab7;
}

.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a {
    padding-left: 18px;
    font-weight: 700;
    color: #337ab7;
    background-color: transparent;
    border-left: 2px solid #337ab7;
}

ul.nav-profile {
    margin: -15px;
}

.stack {
    height: 300px;
    position: relative;
}

.in-deck {
    box-sizing: border-box;
    box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
    background-color: yellow;
    width: 200px;
    height: 300px;
    list-style: none;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    border-radius: 5px;
}

.in-deck img {
    display: block;
    width: 100%;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.matching-button {
    display: block;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    border: 5px solid #eee;
    font-size: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.matching-button .glyphicon-ok {
    color: green;
}

.matching-button .glyphicon-remove {
    color: red;
}

#logo {
    height: 100%;
}
