.glyphicon-refresh-animate {
    -webkit-animation: -webkit-glyphicon-refresh-animate .7s infinite linear;
           -animation: glyphicon-refresh-animate .7s infinite linear;
}

@-webkit-keyframes -webkit-glyphicon-refresh-animate {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes glyphicon-refresh-animate {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-right .btn {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-pills > li > a {
    border-radius: 0;
}

.nav-pills > li > a:focus {
    background-color: transparent;
}

.nav-pills > li > a:hover {
    padding-left: 14px;
    color: #337ab7;
    background-color: transparent;
    border-left: 1px solid #337ab7;
}

.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a {
    padding-left: 18px;
    font-weight: 700;
    color: #337ab7;
    background-color: transparent;
    border-left: 2px solid #337ab7;
}

ul.nav-profile {
    margin: -15px;
}

.stack {
    height: 335px;
    position: relative;
}

.in-deck {
    box-sizing: border-box;
    /*box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
    background-color: yellow;
    height: 300px;*/
    width: 200px;
    list-style: none;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    border-radius: 5px;
}

.in-deck p {
    margin: 0;
}

.in-deck img {
    border-radius: 5px;
    display: block;
    width: 100%;
    max-height: 240px;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.in-deck .panel-body {
    height: 270px;
}

.matching-button {
    display: block;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    border: 5px solid #eee;
    font-size: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.matching-button .glyphicon-ok {
    color: green;
}

.matching-button .glyphicon-remove {
    color: red;
}

.profile-pet-media-object {
    border-radius: 4px;
    max-height: 128px;
}

.carousel {
    height: 500px;
    margin-bottom: 60px;
    position: relative;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel-caption {
    z-index: 10;
    position: absolute;
    top: 20px;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.container-center {
    display: table;
    width: 100%;
    height: 100%;
}

.container-center > div {
    display: table-cell;
    vertical-align: middle;
}

@media (min-width: 768px) {
 .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

#logo {
    height: 100%;
}
