.glyphicon-refresh-animate {
    -webkit-animation: -webkit-glyphicon-refresh-animate .7s infinite linear;
           -animation: glyphicon-refresh-animate .7s infinite linear;
}

@-webkit-keyframes -webkit-glyphicon-refresh-animate {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes glyphicon-refresh-animate {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

#logo {
    height: 100%;
}

.navbar-right .btn {
    margin-right: 5px;
}
